# Configuration file

"enchantability - armor" {
    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:ARCTIC=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:AS_IMBUEDLEATHER=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 1]
    I:BiblioArmor=1

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:CHAIN=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:CULTIST_LEADER=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 13]
    I:CULTIST_PLATE=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 13]
    I:CULTIST_ROBE=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:FIERY=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:FORTRESS=25
    I:FRICTIONBOOTS=0
    I:GASMASK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:HARDENEDLEATHER=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:"IMMERSIVEENGINEERING:FARADAY"=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"IMMERSIVEENGINEERING:STEEL"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IRON=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:IRONWOOD=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:JELLED_SLIME=11
    I:JETPACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:KNIGHTMETAL=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:KNIGHTPHANTOM=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:LEATHER=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:NAGA_SCALE=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:PIGGYBACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:RAILCRAFT_GOGGLES=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:RAILCRAFT_OVERALLS=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:RAILCRAFT_STEEL=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:RESPIRATOR=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:REXO=12
    I:SCUBATANK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SLIME=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:SPECIAL=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:STEELEAF=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:"TF:COPPER"=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:TIN"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:THAUMIUM=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:VOID=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:VOIDROBE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:WOOL=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:YETI=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:armory=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:bl_cloth=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:bone=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:ceramics.clay=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:ceramics.clay_raw=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:diamond_plate=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:engineer=9
    I:faradayChains=0
    I:gilded=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:golden_plate=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:iron_plate=9
    I:jewelled=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:legend=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:lurker_skin=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:"minecolonies:pirate"=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:"minecolonies:pirate2"=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:"minecolonies:santa_hat"=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:mithril=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:mithril_plate=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:pointless=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:rubber=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:silver=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:silver_plate=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:slimy_bone=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:steel=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:steel_plate=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:stone_plate=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:studded=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:syrmorite=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:valonite=0
}


"enchantability - tools" {
    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:CRYSTAL=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:CVOID=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:DUMMY=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:FIERY=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:GIANTSTONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"IE:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:IRON=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:IRONWOOD=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:KNIGHTMETAL=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:PRIMALVOID=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:RAILCRAFT_STEEL=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:STEELEAF=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:STONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:COPPER"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:TIN"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:TFGLASS=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:TFICE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:THAUMIUM=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:THAUMIUM_ELEMENTAL=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:VOID=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:WOOD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:bone=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:dentrothyst=0
    I:dtamethyst=9
    I:dtbronze=15
    I:dtcopper=16
    I:dtcrystal=9
    I:dtelectrum=20
    I:dtemerald=19
    I:dtinvar=16
    I:dtlead=4
    I:dtosmium=12
    I:dtperidot=9
    I:dtplatinum=9
    I:dtruby=9
    I:dtsapphire=9
    I:dtsilver=20
    I:dtsoulforgedsteel=22
    I:dtsteel=9
    I:dttin=14
    I:dttitanium=9
    I:dttopaz=9
    I:dttungsten=9
    I:gilded=18
    I:jewelled=24

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:legend=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:loot=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:mithril=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:octine=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:silver=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:steel=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:syrmorite=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:unique=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:valonite=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:weedwood=0
}


