# Configuration file

general {
    # Height starting value
    I:depth=0

    # Dimension to auto generate in
    I:dimension=0

    # Pause chunk generation if more chunks than this are in memory
    I:maxChunksLoaded=3000

    # Number of chunks loaded per tick
    D:numChunksPerTick=1.0

    # Pause chunk generation when players are logged on
    B:pauseForPlayers=false

    # Skip a number of chunks at start of generation. Set automatically.
    I:skipChunks=0

    # Number of chunks inbetween percentage updates
    I:updateDelay=40

    # Width starting value
    I:width=0

    # X starting value
    I:x=0

    # Z starting value
    I:z=0
}


